<header>
  <h1>Kaylyn & Keith</h1>
</header>

<h4>Our Story | Wedding Party | Pictures</h4>

<h2>Our Story</h2>
<div class="col-xs-12 ourstory">
  <p></p>
</div>

<h2>Wedding Party</h2>

<div class="col-xs-12">
  <h3>Bridesmaids</h3>
</div>
<div *ngFor="let bridesmaid of bridesmaids">
  <div class="col-xs-3 partybox">
    <h4>{{bridesmaid.name}}</h4>
    <h4>Role: {{bridesmaid.role}}</h4>
  </div>
</div>

<div class="col-xs-12">
  <h3>Groomsmen</h3>
</div>
<div *ngFor="let groomsman of groomsmen">
  <div class="col-xs-3 partybox">
    <h4>{{groomsman.name}}</h4>
    <h4>Role: {{groomsman.role}}</h4>
  </div>
</div>

<h2>Pictures</h2>
