/* You can add global styles to this file, and also import other style files */
body {
  background-image: url("http://more-sky.com/data/out/8/IMG_209861.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

header, h2 {
  font-family: 'Press Start 2P', cursive;
}
